<%= form_for([@restaurant, @reservation]) do |f| %>

  <% if @reservation.errors.any? %>
    <div>
      <h2><%= pluralize(@reservation.errors.count, "error")%> Prohibited this product from being saved:</h2>

      <ul>
      <% @reservation.errors.full_message.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= f.hidden_field :restaurant_id, value=>params[:restaurant_id] %>
<%= f.hidden_field :user_id, value=>params[:user_id] %>

<%= @restaurant.name.upcase %>
<div class="field">
  <%= f.label "Date:" %>
  <%= f.date_field :date_of_reservation %>
</div>
<div class="field">
  <%= f.label "Time:" %>
  <%= f.time_field :time_of_reservation %>
</div>

<div class="field">
  <%= f.label "Guests:" %>
  <%= f.number_field :number_of_seats%>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
