<%= link_to "Back to Restaurants", restaurants_url %>

<h1>You're on the List</h1>

<%= link_to "Add a Reservation", new_restaurant_reservation %>

<!-- add restaurant name -->
<% @reservations.each do |reservation| %>
<p>Date: <%= link_to reservation.date_of_reservation, reservation_path(reservation) %></br>
Time: <%= reservation.time_of_reservation %></br>
Seats: <%= reservation.number_of_seats %></p>
<% end %>
