<%= button_tag "Find restaurants near me", id: "current_location" %>

<p>OR</p>

<%= form_tag restaurants_path, method: :get, remote: true do %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search by address" %>
<% end %>


<h3>All restaurants</h3>

<div id="map-canvas"></div>

<section id="restaurants" style="clear:both">
  <%= render :partial => 'restaurants' %>
</section>

<% if current_user %>
  <p style="margin-top:3em"><%= link_to 'Add Restaurant', new_restaurant_path %></p>
<% end %>


<%= javascript_tag do %>
  window.latitude = <%= @restaurants.first.latitude.to_f %>;
  window.longitude = <%= @restaurants.first.longitude.to_f %>;
  window.showMarker = false;

  window.coords = <%= raw @restaurants.map {|r| {latitude: r.latitude.to_f, longitude: r.longitude.to_f}}.to_json %>;
<% end %>
