<%= form_tag restaurants_path, method: :get, remote: true do %>
  <%= label_tag :search, 'Find restaurants by address or postal code' %>
  <%= text_field_tag :search %>
  <%= submit_tag "Submit" %>
<% end %>

<h3>All restaurants</h3>

<section id="restaurants" style="clear:both">
  <%= render @restaurants %>
</section>

<% if current_user %>
  <p style="margin-top:3em"><%= link_to 'Add Restaurant', new_restaurant_path %></p>
<% end %>