<h3>Explore Seat Yoself tables</h2>

<!-- <%= link_to "Add a new Restaurant", new_restaurant_path %> -->

<div class="restaurant-list">
<% @restaurants.each do |restaurant| %>
  <p><%= restaurant.name.upcase %></br><%= restaurant.cuisine %></br><%= restaurant.price %></p>
    <%= image_tag restaurant.image, :class => "style_image" %>
  <%= link_to "More details", restaurant_path(restaurant) %>
<% end %>
</div>
