<section class="restaurant-details">
  <%= image_tag "http://farm4.staticflickr.com/3027/2896972929_d55c6d30de.jpg" %>

  <h3><%= @restaurant.name %></h3>

  <p><strong>Address: </strong><%= @restaurant.address %></p>
  <p><strong>Phone: </strong><%= @restaurant.phone %></p>
  <p><strong>Description: </strong><%= @restaurant.description %></p>
  <% if @restaurant.category %>
    <p><strong>Category: </strong><%= @restaurant.category.name %></p>
  <% end %>

  <div class="clear"></div>
</section>

<section class="timeslots">

<h4>Make a reservation at <%= @restaurant.name %></h4>

<ul>
  <!-- Links will go here. -->
  <li>Wed Mar 27 4:30 - 5:00</li>
  <li>Wed Mar 27 4:30 - 5:00</li>
  <li>Wed Mar 27 4:30 - 5:00</li>
  <li>Wed Mar 27 4:30 - 5:00</li>
  <li>Wed Mar 27 4:30 - 5:00</li>
  <li>Wed Mar 27 4:30 - 5:00</li>
  <li>Wed Mar 27 4:30 - 5:00</li>
  <li>Wed Mar 27 4:30 - 5:00</li>
</ul>

</section>
