<section class="restaurant-details">
  <%= image_tag "http://farm4.staticflickr.com/3027/2896972929_d55c6d30de.jpg" %>

  <h3><%= @restaurant.name %></h3>

  <p><strong>Address: </strong><%= @restaurant.address %></p>
  <p><strong>Phone: </strong><%= @restaurant.phone %></p>
  <p><strong>Description: </strong><%= @restaurant.description %></p>
  <% if @restaurant.category %>
    <p><strong>Category: </strong><%= @restaurant.category.name %></p>
  <% end %>

  <div class="clear"></div>
</section>


<% if current_user %>
  <h4>Make a reservation at <%= @restaurant.name %></h4>
  <%= form_for [@restaurant, @reservation] do |f| %>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <br />
    <%= f.submit %>
  <% end %>
<% end %>
