<section class="restaurant-details">
  <h3><%= @restaurant.name %></h3>

  <p><strong>Address: </strong><%= @restaurant.address %></p>
  <p><strong>Phone: </strong><%= @restaurant.phone %></p>
  <p><strong>Description: </strong><%= @restaurant.description %></p>
  <% if @restaurant.category %>
    <p><strong>Category: </strong><%= @restaurant.category.name %></p>
  <% end %>

  <div class="clear"></div>

  <div id="map-canvas"></div>
</section>


<% if current_user %>
  <h4>Make a reservation at <%= @restaurant.name %></h4>
  <%= form_for [@restaurant, @reservation] do |f| %>
    <%= render 'shared/form_errors', :thing => @reservation %>
    <div class="field">
      <%= f.label :begin_time, 'When' %>
      <%= f.select :begin_time, @restaurant.time_slots.map{|dt| [nice_datetime(dt), dt] } %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <%= f.text_field :notes %>
    </div>
    <div class="field">
      <%= f.label :people %>
      <%= f.number_field :people, :value => 1, :min => 1 %>
    </div>
    <%= f.submit %>
  <% end %>
<% end %>

<% if @nearby_restaurants.any? %>
  <h2>Nearby restaurants</h2>
  <ul>
  <% @nearby_restaurants.each do |nr| %>
    <li><%= "#{nr.name}, #{nr.distance}" %></li>
  <% end %>
  </ul>
<% end %>
