<%= link_to "Back to Restaurants", restaurants_url %>

<!-- add picture of restaurant -->
<p><%= @restaurant.name %></br>
<%= @restaurant.street_address %>, <%= @restaurant.neighbourhood %> | <%= @restaurant.phone %></p>
<%= @restaurant.cuisine %> | <%= @restaurant.price %></p>
<p> <%= @restaurant.description %></p>

<%= link_to "Reserve", new_session_path %>
