<section class="restaurant-details">
  <%= image_tag "http://farm4.staticflickr.com/3027/2896972929_d55c6d30de.jpg" %>

  <h3><%= @restaurant.name %></h3>

  <p><strong>Address: </strong><%= @restaurant.address %></p>
  <p><strong>Phone: </strong><%= @restaurant.phone %></p>
  <p><strong>Description: </strong><%= @restaurant.description %></p>
  <% if @restaurant.category %>
    <p><strong>Category: </strong><%= @restaurant.category.name %></p>
  <% end %>

  <div class="clear"></div>
</section>


<% if current_user %>
  <h4>Make a reservation at <%= @restaurant.name %></h4>
  <%= form_for [@restaurant, @reservation] do |f| %>
    <div class="field">
      <%= f.label :begin_time, 'When' %>
      <%= f.select :begin_time, @reservation.available_times.map{|dt| [nice_datetime(dt), dt] } %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <%= f.text_field :notes %>
    </div>
    <div class="field">
      <%= f.label :people %>
      <%= f.number_field :people, :value => 1, :min => 1 %>
    </div>
    <%= f.submit %>
  <% end %>
<% end %>
