<!DOCTYPE html>
<html>
<head>
  <title>Sy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>SeatYourself</h1>
  <h2>Navigation</h2>
  <ul>
    <li>Restaurants</li>
    <li>Categories</li>
    <li>Your reservations</li>
  </ul>

  <h2>Sign up or sign in</h2>
  <ul>
    <li><%= link_to "Sign up", new_user_path %></li>
    <li>Username</li>
    <li>Password</li>
  </ul>


<%= yield %>

</body>
</html>
