<!DOCTYPE html>
<html>
<head>
  <title>Sy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>SeatYourself</h1>
  <nav>
    <ul>
      <li>Restaurants</li>
      <li>Categories</li>
      <li>Your reservations</li>
    </ul>
  </nav>

  <section id="login">
    <ul>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Sign in", new_session_path %></li>
    </ul>
  </section>
  
  <section id="content">

    <% if flash[:alert] %>
      <section id="alert"><%= flash[:alert] %></section>
    <% end %>

    <%= yield %>

  </section>

</body>
</html>
